Django==5.0.14
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.6.0
django-filter==25.1
psycopg[binary]==3.2.10
python-decouple==3.8
Pillow==11.0.0
reportlab==4.4.9
cryptography==43.0.3
gunicorn==23.0.0
whitenoise==6.8.2
dj-database-url==2.3.0
